.root{
    -fx-background-color: #111;

}
.label{
    -fx-font-size: 20;
    -fx-font_family: "Lucida Console";
    -fx-text-fill: "white";

}
#titleLabel{
    -fx-font-size: 60;
}

.gameLabel{
    -fx-font_family: "Monaco";
}


.search_button{
    -fx-background-color:transparent
}
.search_button:hover{
    -fx-background-color: #FF9900
}
.delete_button{
    -fx-background-color:transparent
}
.delete_button:hover{
    -fx-background-color: #F5F5F5
}
.menu_button{
    -fx-background-color:transparent
}
.menu_button:hover{
    -fx-background-color:#828282
}
.quit_button{
    -fx-background-color:transparent
}
.quit_button:hover{
    -fx-background-color:#CC3366
}

.start_game{
    -fx-background-color: #FFCCFF
}
.start_game:hover{
    -fx-background-color: #FF99FF
}
.choice_Game{
    -fx-background-color: #33CCFF
}
.choice_Game:hover{
    -fx-background-color: #33FFFF
}

.out{
    -fx-background-color: transparent
}
.out:hover{
    -fx-background-color: #FF9999
}


.text-field-custom {
    -fx-text-fill: white; /* Đặt màu chữ */
    -fx-font-family: "Verdana"; /* Đặt font chữ */
    -fx-font-size: 14px; /* Đặt kích thước font chữ */
}

.text-field-Olympia{
    -fx-background-color: transpasent;
    -fx-text-fill: black; /* Đặt màu chữ */
    -fx-font-family: "Impact"; /* Đặt font chữ */
    -fx-font-size: 25px; /* Đặt kích thước font chữ */
}

.add_button{
   -fx-background-color:transparent;
}
.add_button:hover{
 -fx-background-color:#828282;
}
.save_button:hover{
 -fx-background-color:#828282;
}

.speaker_button {
-fx-background-color:transparent;
}
.speaker_button:hover{
 -fx-background-color:#828282;
}

.choose_image: hover{
    -fx-text-fill: #FFFF66;
}

.choose_image_5: hover{
    -fx-text-fill: #3399FF;
}
.submit_round2 {
   -fx-background-color:#FFCC33;
}
.submit_round2: hover{
   -fx-background-color:#FFFF00;
}
.quit_button_round2{
    -fx-background-color:transparent
}
.quit_button_round2:hover{
    -fx-background-color:#FF6600
}
/*-------------------------------Olympia Game----------------------------*/
.olymStart{
    -fx-text-fill: #FFCC66
}
.olymStart: hover{
    -fx-text-fill: #ffea00
}

.choose_package_question: hover{
    -fx-text-fill: #6699FF;
}
.submit_button{
    -fx-background-color: transpasent;
}
.submit_button:hover{
    -fx-background-color: #FF6699;
}
.ready_button{
    -fx-background-color: transpasent;
}
.ready_button: hover{
    -fx-background-color:#99FF66;
}

.playRound4{
    -fx-background-color: transpasent;
}
.playRound4: hover{
    -fx-background-color: #99FF33;
}
.readyRound4{
    -fx-background-color: transpasent;
}
.readyRound4: hover{
    -fx-background-color: #33CCFF;
}

.starButton{
    -fx-background-color:#999999;
}
.starButton: hover{
    -fx-background-color:#FFCC66;
}
/*----------------------------Translate------------------------------------------------*/
.translate_button{
    -fx-background-color:#6699FF
}
.translate_button:hover{
    -fx-background-color:#0099FF
}